<div class="row header">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-2">
        <img class="logo" src="assets/img/logo_elca.png">
      </div>
      <div class="col-sm-8 brand-name">
        <span class=""> {{'header.title'|translate}} </span>
      </div>
    </div>
  </div>
  <div class="col-sm-4 menu-link">
    <div class="row">
      <div class="col-sm-5">
        <a (click)="onChangeEn()" [ngClass]="{'blue-text':language === 'fr'}">EN </a> <span class="text-primary">|</span>
        <a (click)="onChangeFr()" [ngClass]="{'blue-text':language === 'en'}"> FR</a>
      </div>
      <div class="col-sm-2"><a class="menu-bar-link blue-text" href="#" routerLink="/shopping-cart">Cart</a></div>
      <div *ngIf="authenticationService.isLoggedIn()" class="col-sm-3"><a class="menu-bar-link blue-text" href="#">Welcome, {{authenticationService.getUserFromLocalCache().username}}</a></div>

      <div class="col-sm-2">
        <a *ngIf="!authenticationService.isLoggedIn()" class="menu-bar-link" href="#" routerLink="/login">Login</a>
        <a *ngIf="authenticationService.isLoggedIn()" class="menu-bar-link" (click)="onLogout()">Logout</a>
      </div>
    </div>
  </div>
</div>



