<div class="left-menu">
  <div class="row lable-top">
    <a class="lable-top selected" routerLink="project-list"
       routerLinkActive="d-selected">{{"menu.project-list"|translate}}</a>
  </div>
  <p>&nbsp;</p>
  <div class="row">
    <span class="lable-top blue-text">{{"menu.new"|translate}}</span>
  </div>
  <div class="row">
    <a href="#" routerLink="/project-form" routerLinkActive="d-selected">{{"menu.project"|translate}}</a>
  </div>
  <div class="row">
    <a class="dark" href="#">{{"menu.customer"|translate}}</a>
  </div>
  <div class="row">
    <a class="dark" href="#">{{"menu.supplier"|translate}}</a>
  </div>
  <div class="row">
    <a class="dark" href="#" routerLink="/product-list" routerLinkActive="d-selected">Product list</a>
  </div>
</div>





