<div class="row my-wrapper">
  <div class="col-3 offset-2">
    <i class="fas fa-times-circle"></i>
  </div>
  <div class="col-4 my-text-area">
    <div class="row">
      <span>{{"error.unexpected"|translate}}</span>
      <span *ngIf="error.statusCode=='error.project.concur-upd'">{{"error.project-concur-upd"|translate}}</span>
      <span
        *ngIf="error.statusCode=='error.project.not-found'">{{"error.project-not-found"|translate}} {{error.message}}</span>
    </div>
    <div class="row">
      <span>{{"error.please"|translate}} <span class="red-text">{{"error.contact"|translate}}</span></span>
    </div>
    &nbsp;
    <div class="row">
      <span>{{"error.or"|translate}} <span class="blue-text"><a (click)="onBackToSearchProject()"
                                                                href="#">{{"error.backto"|translate}}</a></span></span>
    </div>
  </div>
</div>

