.product-list {
  background-color: whitesmoke;
  padding-top: 20px;
  height: 100%;
}

.my-form {
  padding-top: 20px;
}

.lable-top {
  font-size: 18pt;
  color: #666666;
  margin-left: 20px;
}

.table {
  margin-top: 40px;
  background-color: white;
  border-collapse: collapse;
}

.special {
  font-weight: 10;
}

th, td {
  padding: 8px;
  text-align: left;
  border-left: 1px solid #ddd;
  border-bottom: none;
  border-top: none;
}

.table-checkbox {
  width: 15px;
  height: 15px;
  padding-left: 10px;
}

.check-col {
  width: 3%;
}

.num-col {
  width: 8%;
}

.name-col {
  width: 40%;
}

.status-col {
  width: 10%;
}

.cus-col {
  width: 24%;
}

.start-col {
  width: 10%;
}

.del-col {
  width: 5%;
}

.fa-trash-alt {
  color: red;
}

.table-footer {
  background-color: #ecf8f8;
  border: #cfcfcf solid 1px;
  color: #2F85FA;
  font-weight: 500;
}

.table-footer span {
  padding-right: 20px;
  float: right;
  color: red;
  font-weight: 500;
}

.select:required:invalid {
  color: #c1b7b7;
}

.option:not(:first-of-type) {
  color: #454545;
}

.mybtn {
  color: #2F85FA;
  font-weight: 500;
}

.number-table {
  text-align: right;
}

.text-table {
  text-align: left;
}

.date-time {
  text-align: center;
}

.text {
  font-weight: 500;
  color: #6f6f6f;
}

.card {
  border: 1px solid #eee;
  cursor: pointer
}

.weight {
  margin-top: -65px;
  transition: all 0.5s
}

.weight small {
  color: #e2dede
}

.buttons {
  padding: 10px;
  background-color: #d6d4d44f;
  border-radius: 4px;
  position: relative;
  margin-top: 7px;
  opacity: 0;
  transition: all 0.8s
}

.dot {
  height: 14px;
  width: 14px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #fff;
  opacity: 0
}

.cart-button {
  height: 48px
}

.cart-button:focus {
  box-shadow: none
}

.cart {
  position: relative;
  height: 48px !important;
  width: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 11px;
  border-radius: 5px;
  font-size: 14px;
  transition: 1s ease-in-out;
  overflow: hidden
}

.cart-button.clicked span.dot {
  animation: item 0.3s ease-in forwards
}

@keyframes item {
  0% {
    opacity: 1;
    top: 30%;
    left: 30%
  }

  25% {
    opacity: 1;
    left: 26%;
    top: 0%
  }

  50% {
    opacity: 1;
    left: 23%;
    top: -22%
  }

  75% {
    opacity: 1;
    left: 19%;
    top: -18%
  }

  100% {
    opacity: 1;
    left: 14%;
    top: 28%
  }
}

.card:hover .buttons {
  opacity: 1
}

.card:hover .weight {
  margin-top: 10px
}

.card:hover {
  transform: scale(1.04);
  z-index: 2;
  overflow: hidden
}
