<div class="right-side">
  <div class="col-sm-12 lable-top">
    <span>Login</span>
  </div>

  <div class="col-9 row">
    <div class="col-sm-12 my-wrap-form ">

      <form (ngSubmit)='onSubmit()' [formGroup]='loginForm' class="my-form">
        <div *ngIf="hasError&&respone.statusCode===statusCode.QUANT_NOT_ENOUGH.code"
             class="alert alert-danger alert-dismissible fade show col-12" role="alert">
          <p>{{respone.data}} {{statusCode.QUANT_NOT_ENOUGH.english}}</p>
          <button (click)="hasError=false" aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div *ngIf="this.errorClient" class="alert alert-danger alert-dismissible fade show col-12" role="alert">
          <p class="text">{{"error.enter-null-field" | translate}}</p>
          <button (click)="errorClient=false" aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr>

        <div class="row my-form-group">
          <div class="col-sm-3">
            <label class="label-required">Username</label>
          </div>
          <div class="col-sm-3">
            <input [ngClass]="{'invalid-input': isSubmit===true && loginForm.controls['username']['status']==='INVALID'}" class="form-control" formControlName="username"
                   type="text">
          </div>
        </div>

        <div class="row my-form-group">
          <div class="col-sm-3">
            <label class="label-required">Password</label>
          </div>
          <div class="col-sm-3">
            <input [ngClass]="{'invalid-input' : isSubmit===true && loginForm.controls['password']['status']==='INVALID'}"
                   class="form-control"
                   formControlName="password"
                   type="password">
          </div>
        </div>
        <hr>
        <div class="row my-form-group">
          <div class="col-sm-2 offset-3">
            <button [disabled]="showLoading" class="col-sm-12 btn btn-primary btn-create"
                    type="submit"><i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp; Login</button>

          </div>
        </div>
        <div class="row my-form-group">
          <div class="col-sm-3 offset-3">
            Don't have an account ? <a href="#" routerLink="/register">Sign up</a>
          </div>
        </div>

      </form>

    </div>
  </div>


</div>




